.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
}

h1 {
    font-size: 1.5rem; /* Tamaño de letra más grande */
    font-weight: bold; 
}